<app-requestsadmin *ngIf="!show_admin"></app-requestsadmin>
<button (click)="show_admins()">{{AdminShow}}</button>
<mat-list *ngIf="show_admin">
    <h3 matSubheader>Admin</h3>
    <mat-list-item *ngFor="let admin of admins">
        <mat-icon matListIcon> person_outline </mat-icon>
        <button matLine-item routerLink="#">remove admin</button>
        <h4 matLine> Name: {{admin.name}}</h4><br>
        <p matLine class="demo-2"> Type: {{admin.type}} </p>

        <mat-divider></mat-divider>
        <p matLine class="demo-2"> {{CurrentUser}} </p>
    </mat-list-item>